@model PublicServicesCardsProject.Models.Appointment

@{
    ViewBag.Title = "Cancel Appointment";
}

<h2>Delete</h2>

<h3>Are you sure you want to cancel this appointment?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Office
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.SafeOffice)
        </dd>

        <dt>
            Staff Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

        <dt>
            Customer Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            Appointment Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>

        <dt>
            Appointment Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfAppointment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-info" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
