@model PublicServicesCardsProject.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.SafeOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.SafeOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfAppointment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
