@model PublicServicesCardsProject.Models.Staff

@{
    ViewBag.Title = "Details Of Staff Member";
}

<h2>Details Of Staff Member</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            PPSN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPSN)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Date Of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Salary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            Desk Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeskNumber)
        </dd>
        <!-- Need To Add In Office -->
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
