@model IEnumerable<PublicServicesCardsProject.Models.Staff>

@{
    ViewBag.Title = "All Staff";
}

<h2>All Staff</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="control-label col-md-2">Office</label>
        <div class="col-md-10">
            @Html.DropDownList("office", "All")
            <input type="submit" value="Filter" />
        </div>
    </div>
}
<table class="table table-hover">
    <tr>
        <th>
            PPSN
        </th>
        <th>
            Name
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            Age
        </th>
        <th>
            Email Address
        </th>
        <th>
            Salary
        </th>
        <th>
            Desk Number
        </th>
        <th>
            Office
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PPSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeskNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.SafeOffice)
        </td>
        <td>
            @Html.ActionLink(" Edit", "Edit", new { id=item.StaffId }, htmlAttributes: new { @class = " fa fa-edit" }) |
            @Html.ActionLink(" Details", "Details", new { id=item.StaffId }, htmlAttributes: new { @class = " fa fa-info " }) |
            @Html.ActionLink(" Delete", "Delete", new { id=item.StaffId }, htmlAttributes: new { @class = " fa fa-trash-o " })
        </td>
    </tr>
}

</table>

<p>
    <button>@Html.ActionLink("New", "Create")</button>
</p>
