@model IEnumerable<PublicServicesCardsProject.Models.Staff>

@{
    ViewBag.Title = "All Staff";
}

<h2>All Staff</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            PPSN
        </th>
        <th>
            Name
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            Age
        </th>
        <th>
            Email Address
        </th>
        <th>
            Salary
        </th>
        <th>
            Desk Number
        </th>
        <th>
            Safe Office
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PPSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeskNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.SafeOffice)
        </td>
        <td>
            @Html.ActionLink(" Edit", "Edit", new { id=item.PersonId }, htmlAttributes: new { @class = " glyphicon glyphicon-edit " }) |
            @Html.ActionLink(" Details", "Details", new { id=item.PersonId }, htmlAttributes: new { @class = " glyphicon glyphicon-info-sign " }) |
            @Html.ActionLink(" Delete", "Delete", new { id=item.PersonId }, htmlAttributes: new { @class = " glyphicon glyphicon-remove " })
        </td>
    </tr>
}

</table>
