<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Public Services Cards</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
    <link rel="icon" href="~/Images/Favicon.jpg">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Public Services Cards", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("Staff", "Index", "Staff")</li>
                        <li>@Html.ActionLink("Appointments", "Index", "Appointments")</li>
                        <li>@Html.ActionLink("Buildings", "Index", "Buildings")</li>
                        <li>@Html.ActionLink("Users", "UsersAndRoles", "Account")</li>
                    }
                    else if (User.IsInRole("Customer") || (User.IsInRole("Staff")))
                    {
                        <li>@Html.ActionLink("My Appointments", "Index", "Appointments")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer-copyright text-right rgba-black-light">
            <footer class="container-fluid">
                <strong>&copy; Public Services Cards - @DateTime.Now.Year</strong>
                <p> <a href="https://github.com/DanoBuck/PublicServicesCardsProject"> <i class="fa fa-github fa-2x" aria-hidden="true"></i></a></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
