@model IEnumerable<PublicServicesCardsProject.Models.Building>

@{
    ViewBag.Title = "Buildings";
}

<h2>Buildings</h2>

<table class="table table-hover">
    <tr>
        <th>
            Office
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SafeOffice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.ActionLink(" Edit", "Edit", new { id = item.BuildingId }, htmlAttributes: new { @class = " fa fa-edit" }) |
            @Html.ActionLink(" Details", "Details", new { id = item.BuildingId }, htmlAttributes: new { @class = " fa fa-info " }) |
            @Html.ActionLink(" Delete", "Delete", new { id=item.BuildingId }, htmlAttributes: new { @class = " fa fa-trash-o " })
        </td>
    </tr>
}

</table>

<p>
    <button>@Html.ActionLink("New", "Create")</button>
</p>
